<!DOCTYPE html>
<html>
	<head>
		<title>UnitReg System</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="main.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="main.css" type="text/css" />
	</head>
	<body ng-app="unitRegApp" ng-controller="unitRegController">
		<div class="container-fluid">
			<nav class="navbar">
				<ul class="nav nav-tabs nav-padding-s">
					<li class="active"><a data-toggle="tab" href="#home"><span class="bold">UnitRegApp</span></a></li>
					<li><a data-toggle="tab" href="#about">About</a></li>
					<li><a data-toggle="tab" href="#feedback">Feedbacks</a></li>
				</ul>
			</nav>
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<div class="col-sm-12 scrollable-y">
						<div id="timetable-container" class="col-sm-11">
							<table id="timetable" class="table table-bordered">
								<thead>
									<tr>
										<td></td>
										<td ng-repeat="timeGap in (timeGaps = timetable.GetArrangedTimeGaps()) track by $index"
											ng-if="!$last">
											{{ To24HourFormat(timeGap) }}<br/>{{ To24HourFormat(timeGaps[$index + 1]) }}
										</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="timetableDay in timetable.timetableDays track by $index">
										<td class="text-align-right">{{ timetableDay.day }}</td>
										<td ng-repeat="timegap in timetableDay.GetArrangedTimeslots() track by $index"
											colspan="{{ timegap.colSpan }}"
											class="{{ timegap.timeslot? 'has-timeslot':'' }}">
											{{ timegap.GetDetails() }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-sm-1">
							<button id="zoom-in" class="img-rounded">
								<span class="glyphicon glyphicon-zoom-in"></span>
							</button>
							<br/>
							<button id="zoom-out" class="img-rounded">
								<span class="glyphicon glyphicon-zoom-out"></span>
							</button>
							<br/>
							<button id="zoom-reset" class="img-rounded">
								<span class="glyphicon glyphicon-refresh"></span>
							</button>
							<br/>
							<button id="btn-print" class="img-rounded">
								<span class="glyphicon glyphicon-print"></span>
							</button>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="bottom-left col-sm-6 panel panel-default padding-m scrollable-y">
							<div class="col-sm-12" ng-repeat="subject in timetable.subjects track by $index">
								<h4 class="title">
									<button class="btn-inline img-responsive img-rounded glyphicon glyphicon-remove-sign"
											ng-click="timetable.RemoveSubject(subject)">
									</button>
									<button class="btn-inline img-responsive img-rounded glyphicon glyphicon-arrow-up"
											ng-if="$index > 0"
											ng-click="timetable.IncreaseSubjectPriority(subject)">
									</button>
									<button class="btn-inline img-responsive img-rounded glyphicon glyphicon-arrow-up btn-disabled"
											ng-if="$index == 0" disabled>
									</button>
									<button class="btn-inline img-responsive img-rounded glyphicon glyphicon-arrow-down"
											ng-if="$index < timetable.subjects.length - 1"
											ng-click="timetable.DecreaseSubjectPriority(subject)">
									</button>
									<button class="btn-inline img-responsive img-rounded glyphicon glyphicon-arrow-down btn-disabled"
											ng-if="$index >= timetable.subjects.length - 1" disabled>
									</button>
									<span>{{ subject.subjectCode }} {{ subject.subjectName}}</span>
								</h4>
								<div class="col-sm-4" ng-repeat="classtype in subject.timeslots"
									 ng-if="classtype.length > 0">
									<h5> {{ ClassType[$index] }}</h5>
									<div ng-repeat="timeslot in classtype track by $index">
										<label>
											<input class="timeslot" type="checkbox"
												   ng-model="timeslot.Tick"
												   ng-model-options="{ getterSetter: true }" />
											{{ ClassType[timeslot.classType].charAt(0) }}{{ timeslot.number }}
											({{ DayInWeek[timeslot.day].substr(0, 3) }},
											{{ To24HourFormat(timeslot.startTime) }}-{{ To24HourFormat(timeslot.endTime) }})
										</label>
										<br/>
									</div>
								</div>
							</div>
						</div>
						<div class="bottom-right col-sm-6 panel panel-default padding-m scrollable-y">
							<div class="col-sm-12 action-buttons">
								<span class="bold">Time Gap</span>
								<div class="btn-group" data-toggle="buttons">
									<label ng-if="timetable.Gap()==30" class="btn btn-default active" ng-click="timetable.Gap(30)">
										30 minutes </label>
									<label ng-if="timetable.Gap()==30" class="btn btn-default" ng-click="timetable.Gap(60)">
										<input type="radio" name="options"> 1 hour </label>
									<label ng-if="timetable.Gap()==60" class="btn btn-default" ng-click="timetable.Gap(30)">
										30 minutes </label>
									<label ng-if="timetable.Gap()==60" class="btn btn-default active" ng-click="timetable.Gap(60)">
										<input type="radio" name="options"> 1 hour </label>
								</div>
								<button class="btn-inline img-rounded"
										ng-click="AddDummyData()">
									<span >Add Dummy Data</span>
								</button>
							</div>
							<h4 class="title col-sm-12">
								<button class="btn-inline img-responsive img-rounded glyphicon glyphicon-plus-sign"
										ng-click="AddNewSubject()">
								</button>
								<span >Add New Subject</span>
							</h4>
							<div class="col-sm-12">
								<label class="col-sm-3" for="subject-code">Subject Code</label>
								<input class="col-sm-8" type="text" id="subject-code" name="subject-code" ng-model="newSubject.subjectCode"/>
								<label class="col-sm-3" for="title">Subject Name</label>
								<input class="col-sm-8" type="text" id="title" name="title" ng-model="newSubject.subjectName" />
							</div>
							<h4 class="title col-sm-12">
								<button class="btn-inline img-responsive img-rounded glyphicon glyphicon-plus-sign"
										ng-click="AddNewTimeslot()">
								</button>
								<span>Add Timeslot</span>
							</h4>
							<div class="col-sm-12" ng-repeat="timeslot in newTimeslots track by $index">
								<div class="col-sm-2 timeslot-title">
									<h3>{{ ClassType[timeslot.classType].charAt(0) }}{{ timeslot.number }}</h3>
								</div>
								<div class="right col-sm-9">
									<div class="col-sm-12">
										<select class="col-sm-4 btn btn-default" ng-model="timeslot.day"
												ng-options="DayInWeek.indexOf(day) as day for day in DayInWeek" ng-selected="0">
										</select>
										<select class="col-sm-4 btn btn-default" ng-model="timeslot.classType"
												ng-options="ClassType.indexOf(classType) as classType for classType in ClassType" ng-selected="0">
										</select>
										<input class="col-sm-2 input-number" type="number" ng-model="timeslot.number" min="1"/>
									</div>
									<div class="col-sm-11 margin-m">
										<label class="col-sm-2 lbl" for="start-time-{{$index}}"> From </label>
										<input class="col-sm-4" id="start-time-{{$index}}" type="number"
											   ng-model="timeslot.startTime" min="800" max="1800" step="100" />
										<label class="col-sm-2 lbl" for="end-time-{{$index}}"> to </label>
										<input class="col-sm-4" id="end-time-{{$index}}" type="number"
											   ng-model="timeslot.endTime" min="800" max="1800" step="100" />
									</div>
								</div>
								<button class=" btn-div img-responsive img-rounded glyphicon glyphicon-remove-sign"
										ng-click="RemoveNewTimeslot(timeslot)">
								</button>
							</div>
						</div>
					</div>
				</div>
				<div id="about" class="tab-pane fade">
					<div class="panel panel-default">
						<div class="panel-heading bold">Objectives</div>
						<div class="panel-body">
							<p>This web application allows UTAR students to simulate and plan their upcoming trimester's timetable</p>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading bold">About this website</div>
						<div class="panel-body">
							<p>Hosted directly from <a href="https://github.com/">GitHub</a></p>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading bold">About me</div>
						<div class="panel-body">
							<p>One who likes programming</p>
							<p><a href="https://github.com/kuribu99">KongMy</a></p>
						</div>
					</div>
				</div>
				<div id="feedback" class="tab-pane fade">
					<iframe src="https://docs.google.com/forms/d/1-1NJ7P15HJjqbomkQGUOYJRnYzuEq68fquaGVeuXnYg/viewform?embedded=true"
							width="660" height="1150" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				<div>
			</div>
		</div>
			</div>
		</div>
	</body>
</html>