<!DOCTYPE html>
<html>
	<head>
		<title>UnitReg System</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<script src="jquery-2.1.3.min.js"></script>
		<script src="angular.min.js"></script>
		<script src="unitregApp.js"></script>
		<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="main.css" type="text/css" />
	</head>
	<body data-ng-app="unitRegApp" data-ng-controller="unitRegController">
		<div class="container-fluid">
			<div class="row full-height scrollable-y">
				<div class="col-sm-12 scrollable-x padding-m">
					<table id="timetable" class="table table-bordered">
						<thead>
							<tr>
                            	<td></td>
								<td ng-repeat="timeGap in (timeGaps = timetable.GetArrangedTimeGaps()) track by $index"
									ng-if="!$last">
									{{ To24HourFormat(timeGap) }} <br/> {{ To24HourFormat(timeGaps[$index + 1]) }}
								</td>
							</tr>
						</thead>
						<tbody>
                            <tr ng-repeat="timetableDay in timetable.timetableDays track by $index">
                                <td>{{ timetableDay.day }}</td>
								<td ng-repeat="timegap in timetableDay.GetArrangedTimeslots() track by $index"
									colspan="{{ timegap.colSpan }}"
									class="{{ timegap.timeslot? 'has-timeslot':'' }}">
									{{ timegap.GetDetails() }}
								</td>
                            </tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-12 scrollable-x padding-m">
					bot col
				</div>
			</div>
		</div>
	</body>
</html>