.padding-m {
    padding: 15px;
}

.margin-m {
    margin: 15px;
}

table,
table thead,
table tbody,
table thead tr,
table tbody tr,
table thead tr td,
table tbody tr td {
    border: 1px solid #dddddd;
}

table thead {
    text-align: center;
}

table#timetable thead,
table#timetable tbody tr td:first-child {
    background-color: #efefef;
    cursor: default;
    font-weight: bold;
}

table#timetable tbody {
    cursor: pointer;
}

td.has-timeslot {
    padding: 1px;
    background-color: #c7ddef;
    text-align: center;
}

.panel-subject {
    background-color: #f2dede;
    border-radius: 20px;
}

.subject {
    height: 100%;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
}

.title {
    color: #000000;
    border-bottom: 1px solid #777777;
}

.action-buttons {
    padding-bottom: 5px;
    font-size: 15px;
}

h5 {
    font-weight: bold;
}

input[type='text'] {
    margin: 5px;
    padding-left: 5px;
    padding-right:5px;
    border-radius: 5px;
}

button#add-subject {
    border-radius: 5px;
    background-color: #eeeeee;
}

.btn-inline {
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
}

select {
    padding-top: 5px;
    padding-bottom:5px;
}

.btn-disabled {
    color: rgba(64, 64, 64, 0.5);
}

.input-number {
    padding-top: 4px;
    padding-bottom:4px;
}

.lbl {
    padding-top: 5px;
    text-align: center;
}

.timeslot-title {
    text-align: center;
    border: 1px solid #777777;
}

.btn-div {
    margin-bottom: 5px;
    padding: 5px;
    vertical-align:middle;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}

.nav-padding-s {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

div#AddSubjectModal > div.modal-dialog {
    background-color: #dedef2;
}

.li-container > li {
    margin: 10px;
}

.hr {
    border-bottom: 1px solid #777777;
}

.action-panel {
    padding: 10px;
}