.full-height {
    height: 500px;
}

.half-height {
    height: 250px;
}

.scrollable-x {
    overflow-x: auto;
}

.padding-m {
    padding: 15px;
}

.margin-m {
    margin: 15px;
}

.scrollable-y {
    overflow-y: auto;
}

table,
table thead,
table tbody,
table thead tr,
table tbody tr,
table thead tr td,
table tbody tr td {
    border: 1px solid #dddddd;
}

table thead {
    text-align: center;
}

table#timetable thead,
table#timetable tbody tr td:first-child {
    background-color: #efefef;
    cursor: default;
}

table#timetable tbody {
    cursor: pointer;
}

td.has-timeslot {
    padding: 1px;
    background-color: #c7ddef;
}

.bottom-left {
    background-color: #f2dede;
}

.bottom-right {
     background-color: #dedef2;
 }

.subject {
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
}